*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    font-style: oblique;
}

.carousel-caption{
    h5{
        margin-top: -500px;
    }
}